<% if (user) { %>
<p>You're logged in as: <%= user.email %></p>

<form action="/logout" method="POST">
    <input type="submit" value="Logout" />
</form>

<% } else { %>

<form action="/register" method="GET">
    <input type="submit" value="Register">
</form>

<form action="/login" method="GET">
    <input type="submit" value="Login">
</form>

<% } %>