<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header %>

  <% if (user) { %>
  <ul>
    <% for (let url in urls) { %>
    <li><%= `${url}: ${urls[url].fullURL}` %></li>

    <form action="/urls/<%= url %>" method="GET">
      <input type="submit" value="Edit">
    </form>

    <form action="/urls/<%= url %>/delete" method="POST">
      <input type="submit" value="Delete">
    </form>
    <% } %>
  </ul>
  <% } else { %>
  <p>Please register or log in to view your shortened URLs.</p>
  <% }; %>
  <a href=''>shorten your link here</a>
</body>
</html>

